/* ----------------- */
/*    radio inputs   */
/* ----------------- */
section.radiosection > div {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	max-width: 650px;
	margin: 0 auto;
}

/* section.radiosection div {
	
} */

section.radiosection input {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

section.radiosection label {
	cursor: pointer;
	font-size: 1.2rem;
	user-select: none;
	padding: .7rem;
	display: inline-block;
	width: calc(2ch + 1.4rem + 4px);
	text-align: center;
	border-radius: 10px;
	border: 2px solid #fff;
	transition: all .2s ease-in-out;
}

section.radiosection input:focus-visible + label,
section.radiosection input:not(:checked) + label:hover {
	border-color: var(--radio-selected);
}

section.radiosection input:focus-visible + label {
	outline: solid 2px var(--radio-selected);
	outline-offset: 2px;
}

section.radiosection input:checked + label {
	background-color: var(--radio-selected);
	color: var(--text-white);
	font-weight: bold;
}
