/* ----------------- */
/*    radio inputs   */
/* ----------------- */
section.optionsection {
	padding: 2.5rem 0;
	border-bottom: var(--link-color) solid 2px;
	border-bottom: #bb9af7 solid 2px;
	position: relative;
}

section.optionsection > div {
	--gap: 0.5rem;
	--columns: 11;
	
	display: grid;
	gap: var(--gap);
	margin: .5rem auto 0;
	/* zorgt ervoor dat er max n columns worden gemaakt */
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			calc((var(--form-max-width) - (calc(var(--columns) - 1) * var(--gap))) / var(--columns)),
			1fr
		)
	);
}

section.checkboxsection > div {
	--columns: 5;
}

section.optionsection h2 {
	font-size: 1.3rem;
}

section.optionsection input {
	position: absolute;
	height: 100%;
	top: 0;
	opacity: 0;
	pointer-events: none;
}

section.optionsection label {
	font-size: 1.2rem;
	user-select: none;
	padding: 0.7rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	border: 2px solid var(--inverted-text);
	background-color: var(--radio-bg);
	color: var(--radio-text);
	transition: border-color 0.2s ease-in-out;
	cursor: pointer;
	white-space: nowrap;
}

section.radiosection input:checked + label {
	cursor: initial;
}

section.optionsection input:focus-visible + label,
section.optionsection input:not(:checked) + label:hover {
	border-color: var(--primary-text);
}

section.optionsection input:focus-visible + label {
	outline: solid 2px var(--primary-text);
	outline-offset: 2px;
}

section.optionsection input:checked + label {
	background-color: var(--radio-selected);
	text-shadow: 1px 0 0 currentColor;
}


/* active state underline komt uit main.css */
section.optionsection input:checked + label.underline::after {
	transform: translateX(-50%) scale(1);
}

section.optionsection input:not(:checked) + label.underline::after {
	transform: translateX(-50%) scale(0);
}
