section.submitsection {
	display: grid;
	grid-template-columns: 35% 1fr;
	gap: 0.5rem;
	margin-top: 2rem;
	height: 3rem;
}

section.submitsection button {
	cursor: pointer;
	padding: 0.5rem;
	border: 2px solid;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
	font-size: 1.1rem;
}

section.submitsection button:focus-visible {
	outline: solid 2px var(--primary-text);
	outline-offset: 3px;
}

/* reset button */
section.submitsection button[type='reset'],
section.submitsection button[type='reset'] {
	border-color: var(--input-divider);
	background-color: var(--input-divider);
	color: var(--inverted-text);
}

section.submitsection button[type='reset']:focus-visible,
section.submitsection button[type='reset']:hover {
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

/* submit button */
section.submitsection button[type='submit'] {
	border-color: var(--radio-bg);
	background-color: var(--radio-bg);
	color: var(--radio-text);
}

section.submitsection button[type='submit']:focus-visible,
section.submitsection button[type='submit']:hover {
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

/* underline dingetj */
section.submitsection button::after,
section.submitsection button::after {
	width: 5em;
	max-width: 95%;
}

section.submitsection button:focus-visible::after,
section.submitsection button:hover::after {
	transform: translateX(-50%) scale(1);
}