<nav class='progress'>
	{{! <h2>Voortgang</h2> }}
	<ul>
		<li>
			{{#if adjacentUri.prevUri}}
				<a href='{{adjacentUri.prevUri}}'>Terug</a>
			{{/if}}
		</li>

		<li class='progressbar'>
			<label>Enquete
				{{progress}}% voltooid.
				<progress value='{{progress}}' min='0' max='100'></progress>
			</label>
		</li>
	</ul>
</nav>