<main>
	<div class='form-container'>
		<form method='POST' action='/enquete' autocomplete='off' name="form-naam">

			{{> input formFields=formFields}}

			<input type='submit' value='send' />
		</form>
	</div>
</main>