<main>
	<div class='form-container'>
		<header>
			<div>
				<h1>{{subjectName formFields.subject.value}}</h1>
				<a href="{{nextUri}}&removesubject={{formFields.subject.value}}" class="underline">Vak Overslaan</a>
			</div>
		</header>
		
		<form method='POST' action='/enquete' autocomplete='off' novalidate>

			{{> input formFields=formFields}}
			
		</form>
	</div>
</main>