<main>
	<div class='form-container'>
		<header>
			<div>
				<h1>{{subjectName formFields.subject.value}}</h1>
				<section>
					<a href="{{adjacentUri.nextUri}}&removesubject={{formFields.subject.value}}" class="underline">Vak Overslaan</a>
					<a href="/overview" class="underline">Overzicht</a>
				</section>
			</div>
		</header>

		{{> progress adjacentUri=adjacentUri}}
		
		<form method='POST' action='/enquete' autocomplete='off' novalidate>

			{{> input formFields=formFields}}
			
		</form>
	</div>
</main>