<main>
	<div class='form-container'>
		<form method='POST' action='/enquete' autocomplete='off'>
			<label for='docenten'>Van welke docent(en) heb je dit vak gekregen</label>
			<input type='text' name='docenten' id='docenten' />

			<label for='message'>Message</label>

			<input name='message' id='message' />

			<input type='submit' value='send' />
		</form>
	</div>
</main>