<main class='home'>
	<div class='form-container'>
		<h1>De Enquetinator</h1>
		<p></p>

		<form method='POST' action='/' novalidate>

		{{#each formFields}}
			{{> input formField=@key}}
		{{/each}}

			<input type='submit' value='send' />
		</form>
	</div>
</main>