{{!-- <a href="/enquete">Linkj</a> --}}

<main class="home">
	<h1>De Enquetinator</h1>
	<p></p>

		<form method="POST" action="/" autocomplete="off" novalidate>
		<label for="name">Naam</label>
		<input type="text" name="name" id="name" />

		
		<label for="studentnumber">Studentnummer</label>
		<input type="number" name="studentnumber" id="studentnumber" />

		<label for="email">Email</label>
		<input type="email" name="email" id="email" />
		
		<input type="submit" value="send"/>
	</form>
</main>