<main class='home'>
	<div class='form-container'>

		<header class="home">
			<div>
				<h1>De Enquetinator</h1>
			</div>
		</header>

		<form method='POST' action='/' novalidate>

			{{> input formFields=formFields}}
			
		</form>
	</div>
</main>