*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	color: var(--primary-text);
	background-color: var(--primary-bg);
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
}

:root {
	color-scheme: light;
	/* static colors */
	--text-black: #333;
	--text-white: #fff;

	/* bg colors */
	--primary-bg: #fff;
	--secondary-bg: #fafafa;

	/* text colors */
	--primary-text: #111;
	--secondary-text: #333;
	--inverted-text: #fff;
	--link-color: #0969da;

	/* input colors */
	--radio-bg: #b998f5;
	--radio-text: #1a1b26;
	--radio-selected: #98b95c;
	--radio-border: #0db9d7;
}

@media screen and (prefers-color-scheme: dark) {
	/* :root {
		color-scheme: dark;
		--primary-bg: #0d1117;
		--secondary-bg: #161b22;

		--primary-text: #fff;
		--secondary-text: #fafafa;
		--inverted-text: #111;

		--link-color: #b998f5;
	} */
}