*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	color: var(--primary-text);
	background-color: var(--primary-bg);
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
}

:root {
	color-scheme: light;
	/* static colors */
	--text-black: #333;
	--text-white: #fff;

	/* bg colors */
	--primary-bg: #fff;
	--header-bg: #256baf;
	--input-divider: #3859c7;

	/* text colors */
	--primary-text: #111;
	--secondary-text: #333;
	--inverted-text: #fff;
	--link-color: #0969da;

	/* input colors */
	--radio-bg: #56addb;
	--radio-text: #111;
	--radio-selected: #98b95c;
	--radio-border: #0db9d7;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--primary-bg: #1a1b26;
		--input-divider: #bb9af7;

		--primary-text: #fff;
		--secondary-text: #fafafa;
		--inverted-text: #111;

		--link-color: #3976cb;
	}
}

.underline {
	position: relative;
}

.underline::after {
	content: '';
	position: absolute;
	width: 2.5ch;
	height: 2px;
	bottom: .5em;
	left: 50%;
	transform: translateX(-50%) scale(0);
	background-color: currentColor;
	transition: transform 0.2s ease-in-out;
}