*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Roboto', sans-serif;
	color: var(--primary-text);
	background-color: var(--primary-bg);
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
}

:root {
	color-scheme: light;

	/* sizes */
	--form-max-width: 1100px;
	--form-width: 95%;

	/* static colors */
	--text-black: #111;
	--text-white: #fff;

	/* bg colors */
	--primary-bg: #fff;
	--header-bg: #256baf;
	--input-divider: #3859c7;

	/* text colors */
	--primary-text: #111;
	--secondary-text: #333;
	--inverted-text: #fff;
	--link-color: #0969da;
	--error-color: #f00;
	--checkmark-color: #41a145;

	/* input colors */
	--input-text-border: #363636;
	--input-text-bg-focus: #efefef;
	--radio-bg: #56addb;
	--radio-text: #111;
	--radio-selected: #98b95c;
	--radio-border: #0db9d7;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--primary-bg: #1a1b26;
		--input-divider: #bb9af7;

		--primary-text: #fff;
		--secondary-text: #fafafa;
		--inverted-text: #111;

		--link-color: #3976cb;
		--error-color: #ff8f2e;

		--input-text-border: #ccc;
		--input-text-bg-focus: #35374d;
	}
}

ul {
	list-style: none;
}

span.checkmark,
.underline {
	position: relative;
}

.underline::after {
	content: '';
	position: absolute;
	width: 2.5ch;
	height: 2px;
	bottom: .5em;
	left: 50%;
	transform: translateX(-50%) scale(0);
	background-color: currentColor;
	transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.underline::after {
		transition: none !important;
	}
}


/* checkmark */
span.checkmark {
	--borderWidth: 4px;
	--height: 20px;
	--width: calc(var(--height) / 2);

	height: var(--height);
	width: var(--width);
}

span.checkmark::before {
	content: '';
	position: absolute;
	background-color: var(--checkmark-color);
	width: 1.9rem;
	height: 1.9rem;
	border-radius: 50%;
}

span.checkmark::after {
	content: '';
	position: absolute;
	transform: rotate(45deg) translate(90%, -25%);
	height: 100%;
	width: 100%;
	border-bottom: var(--borderWidth) solid var(--text-white);
	border-right: var(--borderWidth) solid var(--text-white);
}