@import url('./inputs/submit.css');

div.form-container {
	width: 100%;
}

header {
	--header-height: 10rem;
	--header-top: calc(var(--header-height) / 10 * 6 * -1);
	--heading-top: calc((var(--header-height) + var(--header-top)) / 4);

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-bg);
	color: var(--text-white);
	position: sticky;
	z-index: 3;
	top: var(--header-top);
	height: var(--header-height);
	/* shoutout github copilot */
	padding: 0 max(1rem, calc((100vw - 1100px) / 2));
}

header h1 {
	position: sticky;
	top: var(--heading-top);
	text-transform: capitalize;
	font-size: clamp(1rem, 2rem, 7vw);
}


div.form-container form {
	width: 95%;
	max-width: 1100px;
	margin: 0 auto 5rem;
}

input {
	font-size: 1.2rem;
	width: 100%;
}
